// @import './../../common/styles/colors';
@use "/src/common/styles/colors" as *;
@use "/src/common/styles/templates" as *;
.container {
  @extend .flex-column;
  width: 95%;
  min-width: 300px;
  max-width: 600px;
  padding: 10px;
  margin: auto;
  background-color: $color-main;
  color: $color-text;
  > * {
    text-align: center;
  }
  .btn {
    @extend %oneline;
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    background-color: $color-text;
    color: $color-main;
    border: none;
  }
}
