* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
}

.heading {
  text-align: center;
  color: aquamarine;
}

.welcome {
  padding: 0 10px;
  margin: 5px;
  color: darkcyan;
  border: 2px solid darkcyan;
}

.scale {
  transform: scale(1.1);
}